{
  "PUSH_BRIDGE_SA_FILE": "/etc/kazoo-push-bridge/firebase-service-account.json",
  "PUSH_BRIDGE_AMQP_HOST": "",
  "PUSH_BRIDGE_AMQP_USER": "",
  "PUSH_BRIDGE_AMQP_PASS": "",
  "PUSH_BRIDGE_AMQP_VHOST": "/",
  "PUSH_BRIDGE_EXCHANGE": "pushes",
  "PUSH_BRIDGE_QUEUE": "",
  "PUSH_BRIDGE_BINDING_KEY": "",
  "PUSH_BRIDGE_FCM_SCOPE": "https://www.googleapis.com/auth/firebase.messaging",
  "PUSH_BRIDGE_FCM_URL_TEMPLATE": "https://fcm.googleapis.com/v1/projects/{project_id}/messages:send",
  "PUSH_BRIDGE_AMQP_PORT": "5672",
  "PUSH_BRIDGE_WORKERS": "8",
  "PUSH_BRIDGE_APNS_WORKERS": "4",
  "PUSH_BRIDGE_STALL_TIMEOUT": "70"
}
