{lib_dirs, ["applications"
           ,"core"
           ,"deps"
           ]}.

{mode, dev}.
{include_src, false}.
%% `bin/kazoo escript` uses the system code path without this, causing `sup` to fail
{include_erts, true}.

{generate_start_script, false}.
{extended_start_script, false}.

{sys_config, "rel/dev.sys.config"}.
{vm_args, "rel/dev.vm.args"}.

{overlay, [{copy, "core/sup/priv/sup", "{{output_dir}}/bin/"}
          ,{copy, "rel/nodetool", "{{output_dir}}/bin/"}
          ,{template, "rel/kazoo", "{{output_dir}}/bin/kazoo"}
          ,{chmod, 8#00755, "{{output_dir}}/bin/kazoo"}
          ]}.
