[{elvis, [ {rulesets
           ,#{core_rules =>
                  [ {elvis_text_style, no_trailing_whitespace, #{ignore_empty_lines => false}}
                  , {elvis_text_style, no_tabs}
                  , {elvis_style, god_modules, #{limit => 50}}
                  , {elvis_style, no_call, #{no_call_functions => [{proplists, get_value}
                                                                  ,{proplists, delete}
                                                                  ,{proplists, get_all_values}
                                                                  ,{proplists, get_bool}
                                                                  ,{proplists, get_value}
                                                                  ,{proplists, is_defined}
                                                                  ]}}
                    %%, {elvis_style, invalid_dynamic_call, #{ignore => []}}
                  , {elvis_text_style, line_length, #{limit => 100, skip_comments => false}}
                    %% disabled because this is somewhat subjective.
                    %%, {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
                    %% This is to disallow ?MACRO:function()
                    %% and module:?MACRO().
                    %%, {elvis_style, macro_module_names}
                    %% Ensures all macro names are uppercase.
                    %%, {elvis_style, macro_names}
                    %%, {elvis_style, module_naming_convention, #{regex => "^([a-z][a-z0-9]*_?)*(_SUITE)?$", ignore => []}}
                    %% Nesting level 1 is the function body itself.
                    %% This means when set to 1, we can't use case
                    %% statements as those introduce a new level.
                  , {elvis_style, nesting_level, #{level => 4}}
                  , {elvis_style, no_behavior_info}
                  , {elvis_style, no_if_expression}
                  , {elvis_style, no_spec_with_records}
                  , {elvis_style, operator_spaces, #{rules => [ {right, ","} , {right, "++"} , {left,  "++"} ]}}
                    %%, {elvis_style, state_record_and_type}
                    %% we used ignored variables often in log messages.
                    %%, {elvis_style, used_ignored_variable}
                  , {elvis_style, no_nested_try_catch}
                  , {elvis_style, no_debug_call}
                  , {elvis_style, no_common_caveats_call}
                  ] }
           }
         ,{config, [#{dirs => ["applications/*/src/"
                              ,"applications/*/test/"
                              ,"applications/*/src/*/"
                              ,"applications/*/include/"
                              ,"core/*/src/"
                              ,"core/*/test/"
                              ,"core/*/src/*/"
                              ,"core/*/include/"

                               %% for kz.mk
                              ,"src/"
                              ,"src/*/"
                              ,"test/"
                              ,"include/"
                              ]
                     ,filter => "*.[e|h]rl"
                     ,ruleset => core_rules
                     ,rules => [ {elvis_style, operator_spaces, disable}
                                 %% Disabled due to shear number of fails.
                               ,{elvis_text_style, line_length, disable}
                               ,{elvis_style, no_spec_with_records, #{ignore => [ ]}}
                               ,{elvis_style, god_modules, #{limit => 100, ignore => ["kapi_dialplan.erl" ]}}
                               ,{elvis_style, no_debug_call, #{ ignore => []}}
                               ,{elvis_style, no_call, #{no_call_functions => [{proplists, get_value}
                                                                              ,{proplists, delete}
                                                                              ,{proplists, get_all_values}
                                                                              ,{proplists, get_bool}
                                                                              ,{proplists, get_value}
                                                                              ,{proplists, is_defined}
                                                                              ]}}
                               ]
                     }
                   ]
          }
         ,{output_format, colors}
         ,{verbose, true}
         ,{parallel, 8}]
 }].
